apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    {{- include "user-api.labels" . | nindent 4 }}
  name: {{ include "user-api.fullname" . }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      {{- include "user-api.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        podRoller: {{ randAlphaNum 5 | quote }}
      labels:
        {{- include "user-api.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - args:
            - "--port=80"
            - "--host=0.0.0.0"
            - "user_api.routers.main:app"
          command: ["uvicorn"]
          env:
            - name: DB_ADDRESS
              value: {{ template "postgres.dnsname" .Subcharts.postgres }}
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  key: postgresDbName
                  name: {{ template "postgres.fullname" .Subcharts.postgres }}
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  key: postgresAdminPassword
                  name: {{ template "postgres.fullname" .Subcharts.postgres }}
            - name: DB_PORT
              value: "5432"
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  key: postgresAdminUser
                  name: {{ template "postgres.fullname" .Subcharts.postgres }}
            {{- if .Values.ingress.prefix }}
            - name: EXPECTED_PREFIX
              value: {{ .Values.ingress.prefix | quote }}
            {{- end }}
          image: {{ printf "%s:%s" .Values.image.repository .Values.image.tag | quote }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          name: uvicorn
          ports:
            - containerPort: 80
              name: http
              protocol: TCP
