# Code requirements
fastapi==0.77.1
python-multipart==0.0.5
requests==2.27.1
uvicorn[standard]==0.17.6

# Test / lint requirements
black==22.3.0
flake8==4.0.1
mypy==0.950
pytest==7.1.2
types-requests==2.27.29
