name: user-api

on: push

env:
  DOCKER_REPO: "docker.io/levilutz/webgames-user-api"
  GARDEN_LOGGER_TYPE: basic
  CI_ID: ${{ github.run_id }}-${{ github.run_attempt }}
  KUBECONFIG: $HOME/.kube/k_config.yaml
  KUBE_FOLDER: $HOME/.kube

jobs:
  build-test-container:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Garden
        run: curl -sL https://get.garden.io/install.sh | bash

      - name: Connect to cluster
        run: mkdir $HOME/.kube && echo "${{ secrets.KUBE_CONFIG_FILE }}" > $HOME/.kube/k_config.yaml

      - name: Validate connected
        run: |
          echo "one"
          ll $HOME/.kube
          echo "two"
          ll $KUBE_FOLDER
          echo "three"
          kubectl get pod -n webgames-dev

#       - name: Build
#         run: garden --env=ci build user-api-container
# 
#       - name: Test
#         run: garden --env=ci test user-api-container
# 
#   cleanup-ns:
#     runs-on: ubuntu-latest
#     if: always()
#     needs:
#       - build-test-container
# 
#     steps:
#       - name: Cleanup
#         run: kubectl delete namespace "webgames-ci-${CI_ID}"

# Don't forget namespace delete at end of workflow
