name: user-api

on: push

env:
  DOCKER_REPO: "docker.io/levilutz/webgames-user-api"

jobs:
  api-lint-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Python Installs
        working-directory: user-api/api
        run: |
          python3 -m pip install --upgrade pip
          pip3 install --upgrade -r requirements.txt
          pip3 install --upgrade -r requirements_test.txt

      - name: Lint
        working-directory: user-api/api/src
        run: |
          mypy . --strict
          black --check --diff .
          flake8 --max-line-length=88 .

  api-build-push:
    needs: api-lint-test

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build
        run: docker build user-api/api -t api

      - name: Push
        run: |
          docker login --username ${{ secrets.DOCKER_USERNAME }} --password ${{ secrets.DOCKER_PASSWORD }}
          tag="${GITHUB_SHA}-api"
          docker tag api $DOCKER_REPO:$tag
          docker push $DOCKER_REPO:$tag

  migrations-build-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build
        run: docker build user-api/migrate -t migrations

      - name: Push
        run: |
          docker login --username ${{ secrets.DOCKER_USERNAME }} --password ${{ secrets.DOCKER_PASSWORD }}
          tag="${GITHUB_SHA}-migrations"
          docker tag migrations $DOCKER_REPO:$tag
          docker push $DOCKER_REPO:$tag
