name: user-api

on: push

env:
  DOCKER_REPO: "docker.io/levilutz/webgames-user-api"
  GARDEN_LOGGER_TYPE: basic
  CI_ID: ${{ github.run_id }}-${{ github.run_attempt }}
  KUBECONFIG: /home/runner/.kube/k_config.yaml  # Hardcoding $HOME as /home/runner

jobs:
  build-test-container:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Garden
        run: curl -sL https://get.garden.io/install.sh | bash

      - name: Connect to cluster
        run: |
          mkdir -p $HOME/.kube || true
          echo "${{ secrets.KUBE_CONFIG_FILE }}" > $HOME/.kube/k_config.yaml
          kubectl auth can-i get pod

      - name: Build
        run: |
          echo $PATH
          garden --env=ci build user-api-container

      - name: Test
        run: garden --env=ci test user-api-container

  cleanup-ns:
    runs-on: ubuntu-latest
    if: always()
    needs:
      - build-test-container

    steps:
      - name: Cleanup
        run: kubectl delete namespace "webgames-ci-${CI_ID}"

# Don't forget namespace delete at end of workflow
